:host {
  display: block;
}

@layer utilities {
  .animate-sidenav {
    @apply animate-[fadeIn_300ms_ease-out];
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.additional-sidenav-container {
  border-right: solid 1px var(--mat-sys-outline-variant) !important;
}
