@if (visible()) {
  <div
    class="additional-sidenav-container animate-sidenav flex flex-col gap-6 h-full pt-[3rem] px-6"
    style="width: 240px"
  >
    <div class="flex flex-col">
      <div class="text-base pb-3 font-medium">Feature Name</div>
      <div class="nav-item-feature">Feature Child Route</div>
      <div class="nav-item-feature">Feature Child Route</div>
      <div class="nav-item-feature nav-item-feature-active">
        Feature Child Route Very Long
      </div>
      <div class="nav-item-feature">Feature Child Route</div>
      <div
        class="nav-item-feature"
        [routerLinkActive]="'nav-item-feature-active'"
        [routerLink]="['/app/admin']"
      >
        Feature Child Route Long
      </div>
    </div>

    <!--  -->

    <div class="flex flex-col">
      <div class="text-base pb-3 font-medium">Feature Name</div>
      <div class="nav-item-feature">Feature Child Route</div>
      <div class="nav-item-feature nav-item-feature-active">
        Feature Child Route
      </div>
      <div class="nav-item-feature">Feature Child Route Very Long</div>
      <div class="nav-item-feature">Feature Child Route</div>
      <div class="nav-item-feature">Feature Child Route Long</div>
    </div>
  </div>
}
