:host {
  display: block;
}

.nav-main-item {
  position: relative;
  padding: 1rem 0 1rem 2rem;
  transition: all 0.3s ease-in-out;

  &:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--mat-sys-on-surface);
    opacity: 0.04;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  &-active {
    position: relative;
    background-color: var(--mat-sys-surface-variant);
    font-weight: 500;
    transition: all 0.3s ease-in-out;
  }

  &-active::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0.25rem;
    opacity: 1;
    background-color: var(--mat-sys-primary);
    transition: all 0.3s ease-in-out;
  }

  &-active:hover {
    background-color: var(--mat-sys-surface-variant);
    transition: all 0.3s ease-in-out;
  }
}
