// Material Color Palettes

// $red-palette
// $green-palette
// $blue-palette
// $yellow-palette
// $cyan-palette
// $magenta-palette
// $orange-palette
// $chartreuse-palette
// $spring-green-palette
// $azure-palette
// $violet-palette
// $rose-palette

@use "@angular/material" as mat;
@import "tailwindcss";

:root {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$magenta-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body.dark-theme {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$azure-palette,
        tertiary: mat.$magenta-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ui-feedback-success {
  .mat-mdc-snackbar-surface {
    background-color: #2e7d32 !important;
    .mdc-button {
      color: #ffffff !important;
    }
    .mat-mdc-snack-bar-label {
      color: #ffffff !important;
    }
  }
}

.ui-feedback-error {
  .mat-mdc-snackbar-surface {
    background-color: #c62828 !important;
    .mdc-button {
      color: #ffffff !important;
    }
    .mat-mdc-snack-bar-label {
      color: #ffffff !important;
    }
  }
}

.ui-feedback-info {
  .mat-mdc-snackbar-surface {
    background-color: #1565c0 !important;
    .mdc-button {
      color: #ffffff !important;
    }
    .mat-mdc-snack-bar-label {
      color: #ffffff !important;
    }
  }
}

.ui-feedback-warning {
  .mat-mdc-snackbar-surface {
    background-color: #ed6c02 !important;
    .mdc-button {
      color: #ffffff !important;
    }
    .mat-mdc-snack-bar-label {
      color: #ffffff !important;
    }
  }
}
