<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    fixedInViewport
    [attr.role]="'navigation'"
    [mode]="'side'"
    [opened]="true"
  >
    <app-side-nav-logo></app-side-nav-logo>

    <div class="flex flex-col flex-grow justify-between pb-9">
      <app-side-nav-list></app-side-nav-list>
      <app-side-nav-options></app-side-nav-options>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content> </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
