.sidenav-container {
  height: 100%;
}

.mat-drawer {
  width: 100px !important;
  border-right: solid 1px var(--mat-sys-outline-variant) !important;
  border-radius: 0 !important;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-drawer {
  .mat-drawer-inner-container {
    display: flex !important;
    flex-direction: column !important;
  }
}
