:host {
  display: block;
}

.nav-item {
  position: relative;
  transition: 0.2s ease-in-out;
}

.nav-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.25rem;
  height: 0%;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.nav-item:hover {
  color: var(--mat-sys-primary);
  transition: 0.2s ease-in-out;
}

.nav-item-active {
  position: relative;
  color: var(--mat-sys-primary);
}

.nav-item-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.25rem;
  height: 100%;
  opacity: 1;
  background-color: var(--mat-sys-primary);
  transition: 0.3s ease-in-out;
}
